<!DOCTYPE html>
<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		{{message}}
	</div>
	<hr/>
	<div id="app-2">
	  <span v-bind:title="message">
	    Hover your mouse over me for a few seconds
	    to see my dynamically bound title!
	  </span>
	</div>
	<hr/>
	<div id="components-demo">
		<button-counter></button-counter>
	</div>
	<hr/>
	<div id="someNews">
		<news id="news1" title="news 1" content="Super news 1" tien="antoine, merci"></news>
		<news id="news2" title="news 2" content="Super news 2" tien="oui"></news>
	</div>
	<hr/>
	<div id="allNews">
		<news v-for="news in posts"
			v-bind:key="news.id"
			v-bind:title="news.title"
			v-bind:content="news.content"
			v-bind:tien="news.tien">
		</news>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue'
			}
		});

		new Vue({
		  el: '#app-2',
		  data: {
		    message: 'You loaded this page on ' + new Date().toLocaleString()
		  }
		});

		Vue.component('button-counter', {
			data: function () { 
				return {
					count: 0
				}
			},
			template: '<button v-on:click="count++">You clicked me {{ count }} times. </button>'
		});
		new Vue ({ el: '#components-demo' });

		Vue.component('news', {
			props: ['title', 'content', 'tien'],
			template: `<div class="news">
						    <h3>{{ title }}</h3>
							<div>{{ content }}</div>
							<a href='#components-demo'> {{ tien }} </a>
					   </div>`
		});
		new Vue ({el: '#someNews'});

		new Vue ({
			el: '#allNews',
			data: {
				posts: [
				{ id: 1, title: 'HIHI JE SUIS LE PERNOEL', content: 'Oue', tien: 'mdr'},
				{ id: 2, title: 'HIHI YO SOY EL PAPANOEL', content: 'Oua', tien: 'xD' },
				{ id: 3, title: 'HIHI I AM THE BIG SANTA', content: 'Oui', tien: ':3' }
				]
			}
		});

	</script>
</body>
</html>