<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../public/css/bootstrap.min.css" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md bg-dark">
			<div class="collapse navbar-collapse">
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" id="search">
					<button class="btn btn-outline-light" type="submit">Search</button>
				</form>
				<span id="error-message" class="text-danger p-2"></span>
			</div>
		</nav>
	</header>

	<div class="container">
		<h1 class="text-center">Search</h1>

		<!---<div class="row" id="allNews">
		</div>--->
		<div id="allNews">
			<news v-for="news in posts"
				v-bind:title="news.title"
				v-bind:content="news.content">
			</news>
		</div>
	</div>

	<div class="container">
		<h3 class="text-center">Ajouter une news</h3>

		<form>
			<label>Titre</label><input type="text" name="titleNews" class="form-control">
			<label>Description</label><input type="text" name="descNews" class="form-control">
			<input class="btn btn-primary mt-2 mb-2" type="submit" name="addNewsBtn">
		</form>
	</div>



	<script src="../public/js/app.min.js"></script>
	<script src="../public/js/vue.js"></script>
	<script>
		Vue.component('news', {
			props: ['title', 'content'],
			template: `<div class="news col-md-4">
						    <h3>{{ title }}</h3>
							<p class="text-news">{{ content }}</p>
							<a v-on:click="elButton" class="btn btn-secondary" role= "button" href="#"> View Details >> </a>
					   </div>`,
			methods: {
				elButton: function(event){
					console.log(this.content);
				}
			}
		});
		new Vue ({
			el: '#allNews',
			data: {
				posts: [
				{title: 'News 1', content: 'Super news 1'},
				{title: 'News 2', content: 'Super news 2'},
				{title: 'News 3', content: 'Super news 3'}
				]
			}
		});


	</script>
</body>
</html>