<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<!-- la syntaxe {{ variable }} permet d'afficher la valeur de la variable au format texte-->
		{{ message }}
		<!-- la syntaxe <span v-html="message"></span> permet d'afficher la valeur de la variable en interprétant le code HTML -->
		<span v-html="message"></span>
	</div>

	<hr/>

	<div id="app-2">
		<!-- v-bind indique que l'on va lier (bind) un élément à une variable/fonction -->
		<span v-bind:title="message">
			Premier texte à survoler
		</span><br/>
		<span v-bind:title="getMessage">
			Second texte texte à survoler
		</span>
	</div>

	<hr/>

	<div id="components-demo">
		<button-counter></button-counter>
	</div>

	<hr/>

	<div id="someNews">
		<news title="news 1" content="Super news 1"></news>
		<news title="news 2" content="Super news 2"></news>
	</div>

	<hr/>

	<div id="allNews">
		<news v-for="news in posts" 
		v-bind:key="news.id" 
		v-bind:title="news.title"
		v-bind:content="news.content">
	</news>
</div>

<script>
	//en bonne pratique on déclare tous les composants en premier
	Vue.component('news', {
		props: ['title', 'content'], //récupération des variables depuis les attributs HTML du composant
		//il est possible d'écrire un template sur plusieurs lignes grâce au `` (backquote)
		//la syntaxe @ est la version courte pour v-on:
		template: `<div class="news" @mouseover="hoverNews"> 
				   		<h3>{{ title }}</h3>
				   		<div >{{ content }}</div>
			   	   </div>`,
		methods: { //permet de définir des méthodes liées au composant
			hoverNews: function (event) {
				console.log(this.content);
			}
		}
	});

	//Vue.component permet de déclarer un composant HTML. Le premier argument correspond au nom de la balise
	Vue.component('button-counter', {
		data: function () { //pour les composants, data DOIT être une function()
			return {
				count: 0,
				tooMuchClickMessage: 'Stop clicking !'
			}
		},
		template: '<button v-on:click="clickBtn">You clicked me {{ count }} times.</button>',
		methods: { //permet de définir des méthodes liées au composant
			clickBtn: function (event) {
				this.count++; //this permet de récupérer le composant et accéder à son contexte
				
				if(this.count > 3)
					event.target.innerText = this.tooMuchClickMessage; //event.target permet de récupérer l'élément qui a déclenché l'event
			}
		}
	});

	new Vue({
		el: '#app', //l'attribut el est obligatoire et permet de définir quel élément racine (ROOT) doit être interprété par vuejs
		data: { //permet de définir des variables
			message: '<strong>Hello Vue!</strong>'
		}
	});

	new Vue({
		el: '#app-2',
		data: { //permet de définir des variables
			message: 'You loaded this page on ' + new Date().toLocaleString()
		},
		computed: { //permet de définir des méthodes
			getMessage: function(event) {
				return this.message;
			}
		}
	});

	new Vue({ el: '#components-demo' });
	
	new Vue({ el: '#someNews' });

	new Vue({
		el: '#allNews',
		data: {
			posts: [ //ici la variable posts est un tableau d'élément. On peut donc aisément la remplir via une variable au format JSON
				{ id: 1, title: 'My journey with Vue', content: 'Super desc 1' },
				{ id: 2, title: 'Blogging with Vue', content: 'Super desc 2' },
				{ id: 3, title: 'Why Vue is so fun', content: 'Super desc 2' }
			]
		}
	});
</script>

</body>
</html>